*{
    box-sizing: border-box;
}
body{
    text-align: center;
    
}
.button{
    height: 150px;
    width: 150px;
    border: none;
    border-radius: 360px;
    cursor: pointer;
}
.button>img{
    border-radius: 50px;
    height: 125px;
    width: 125px;
    
}
#reset{
    background-color: aqua;
    border: none;
    height: 30px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
}