body{
    font-family: Arial, Helvetica, sans-serif;
}
#main-heading{
    text-align: center;
}
.grid-container{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    gap:10px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;

}
#todo-input, #todo-date{
    font-size: 15px;
    padding: 10px 5px;
}
.btn-delete{
    background-color: rgb(179, 27, 27);
    color: white;
    border-radius: 10px;
    border: none;
    padding: 15px 0px;
    cursor: pointer;

}
.btn-todo{
    background-color: green;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 15px 0px;
    cursor: pointer;

}